body{
    background: #d3d3d3;
}

.Title{
    font-family: "Fantasy", "Copperplate", monospace;
    margin-left: 2rem;
}

.header{
    font-family: "Fantasy", "Copperplate", monospace;
    font-size: 2rem;
    width: 12rem; 
}

.paraText{
    font-family: "Fantasy", "Copperplate", monospace;
    margin-top: 1rem; 
    width: 50rem;
}

.exp{
    margin-top: 2rem;
}

.dividerLine{
    width: 15rem; 
    height: 0.1rem;
    background-color: #dbb210;
    margin-right: 45rem; 
    margin-top: -1rem; 
}

.subheader{
    font-size: 1.5rem;
}

.verticalLine {
    height: 20rem;
    width: 10rem;
    border-left: 0.2rem solid black; 
    border-right: 0.2rem solid black; 
}

#headshot{
    margin-left: 7rem;
    width: 15rem;
}

#backgroundHighlight{
    height: 15rem; 
    width: 19rem; 
    background: #dbb210;
    margin-top: -18rem; 
    margin-left: 5rem;
}

#blackBox{
    height: 18rem; 
    width: 17rem; 
    border: 0.2rem solid black; 
    margin-left: 6rem;
    margin-top: -17rem; 
}

.link{
    
    margin-left: 9rem; 
    font-family: "Fantasy", "Copperplate", monospace;
    background-color: #dbb210;
    color: black;
    
}

#div{
    margin-top: -20rem; 
    margin-left: 30rem; 
    height: 30rem;
    width: 55rem;
}

#linkDiv{
    width: 20rem; 
    height: 2rem;
    margin-top: -7rem; 
}

.flex-container{
    margin-top: 2rem;
    display: flex; 
    justify-content: space-around; 
}

.line2{
    width: 13rem; 
    height: 0.1rem;
    background-color: #dbb210;
    margin-left: 0rem;
    margin-top: -0.5rem;
}

#logo{
    width: 10rem; 
}

.educationPara{
    font-family: "Fantasy", "Copperplate", monospace;
}

.solid-black{
    border:solid#000; 
}